<h3>Your Quotes</h3>
<hr />
<% @quotes.each do |quote| %>
  <div class="card bg-body-tertiary" style="margin-bottom:10px">
    <div class="card-body">
      <h4 class="card-title text-primary">
        <%= quote.author ? quote.author.fname : "Anonymous" %>
      </h4>
      <p class="card-text">
        "<%= quote.text %>"
        <br />
        <% if quote.categories.any? %>
          <small><strong>Category:</strong> <%= quote.categories.map(&:name).join(', ') %></small>
          <br />
        <% end %>
        [<a href="/quotes/<%= quote.id %>">Read full quote</a>]
      </p>
    </div>
  </div>
<% end %>
